@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.hd-drag {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  user-select: none;
}

.hd-btns {
  -webkit-app-region: no-drag;
}